# Delete Duplicate Emails

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

The result format is in the following example.

**Example 1:**
```
Input: 
Person table:
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+

Output: 
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
```
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

Once you have implemented your solution, run the code block containing your `delete_duplicate_emails` function. Be sure that your function [returns](https://www.geeksforgeeks.org/python-return-statement/) a dataframe, and doesn't simply print.

In [5]:
import pandas as pd

print(pd.__version__)

1.2.4

In [106]:
import pandas as pd

#Created the dataframe

person= {"id":[1,2,3],
         "email":["john@example.com","bob@example.com","john@example.com"]
        }

df = pd.DataFrame(person)
print(df)

#Located where to delete duplicate, whereever email= True

#print(df.duplicated("email"))

#Attempted to create a function that would drop the duplicate from the DataFrame

def delete_duplicate_emails(person):
    if df.duplicated("email")== True:
        df.drop_duplicates("email")
    else:
        df.duplicated("email")== False
        print(df.to_string())

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [107]:
#Second Attempt-After checking to see if the df.drop duplicates("email") worked, I substituted a variable x
def delete_duplicate_emails(person):
    x=df.drop_duplicates("email")
    return x

In [110]:
# Success!
delete_duplicate_emails(person)

   id             email
0   1  john@example.com
1   2   bob@example.com

In [104]:
df.drop_duplicates("email")

   id             email
0   1  john@example.com
1   2   bob@example.com

## Test Block

**NOTE: Before running the code block below, please be sure that the function you implemented above runs successfully (i.e. a green check-mark appears when running your code)**

Run the following block of code to test your `delete_duplicate_emails` function. If all cases evaluate to true, your code is functioning correctly!

In [111]:
from tests import test_dupes

data = pd.read_csv("data/dupes_data.csv")
output = delete_duplicate_emails(data)

result1 = test_dupes.test1(output)

print("Output\n:", output)
print("Test case 1:", result1)

Output
:    id             email
0   1  john@example.com
1   2   bob@example.com
Test case 1: True