# Modify Columns

A company intends to give its employees a pay rise.

Write a solution to modify the salary column by increasing salary by 100%.

The result format is in the following example.

**Example 1:**
```
Input:
DataFrame employees
+---------+--------+
| name    | salary |
+---------+--------+
| Jack    | 19666  |
| Piper   | 74754  |
| Mia     | 62509  |
| Ulysses | 54866  |
+---------+--------+

Output:
+---------+--------+
| name    | salary |
+---------+--------+
| Jack    | 39332  |
| Piper   | 149508 |
| Mia     | 125018 |
| Ulysses | 109732 |
+---------+--------+
```
Explanation:
Every salary has been increased by 100%.

Once you have implemented your solution, run the code block containing your `modifySalaryColumn` function. Be sure that your function [returns](https://www.geeksforgeeks.org/python-return-statement/) a dataframe, and doesn't simply print.

In [1]:
# Created the dataframe
import pandas as pd
employees = {"name":["Jack","Piper","Mia","Ulysses"],
         "salary":[19666,74754,62509,54866]
        }

df = pd.DataFrame(employees)
df

      name  salary
0     Jack   19666
1    Piper   74754
2      Mia   62509
3  Ulysses   54866

In [2]:
# Created formula for finding a percentage for input into the function.
x = df['salary'] * 1
y = df['salary']
z = x + y 
z

0     39332
1    149508
2    125018
3    109732
Name: salary, dtype: int64

In [3]:
#Formula without variables

df['salary'] * 1 + df['salary']

0     39332
1    149508
2    125018
3    109732
Name: salary, dtype: int64

In [4]:
# Tried this function first, but the output was not correct
import pandas as pd


def modifySalaryColumn(employees):
    x = df['salary'] * 1
    y = df['salary']
    z = x + y 
    return z

In [5]:
#Decided to input the formula directly, skipping the variables
import pandas as pd

def modifySalaryColumn(employees):
    df['salary'] = df['salary'] * 1 + df['salary']
    return df

In [6]:
#Checked the output, appears to be correct, though the test block came up false. 

# Applying the function again will increase the salary output, which will make the test block false. Working to find
#a solution.


modifySalaryColumn(employees)

      name  salary
0     Jack   39332
1    Piper  149508
2      Mia  125018
3  Ulysses  109732

In [8]:
df

      name  salary
0     Jack   78664
1    Piper  299016
2      Mia  250036
3  Ulysses  219464

## Test Block

**NOTE: Before running the code block below, please be sure that the function you implemented above runs successfully (i.e. a green check-mark appears when running your code)**

Run the following block of code to test your `modifySalaryColumn` function. If all cases evaluate to true, your code is functioning correctly!

In [7]:
from tests import test_modify

data = pd.read_csv("data/modify_data.csv")

output = modifySalaryColumn(data)
result1 = test_modify.test1(output)

print("Output\n:", output)
print("Test case 1:", result1)

Output
:       name  salary
0     Jack   78664
1    Piper  299016
2      Mia  250036
3  Ulysses  219464
Test case 1: False