# Recyclable and Low Fat Products

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

**Example 1:**
```
Input: 
Products table:
+-------------+----------+------------+
| product_id  | low_fats | recyclable |
+-------------+----------+------------+
| 0           | Y        | N          |
| 1           | Y        | Y          |
| 2           | N        | Y          |
| 3           | Y        | Y          |
| 4           | N        | N          |
+-------------+----------+------------+

Output: 
+-------------+
| product_id  |
+-------------+
| 1           |
| 3           |
+-------------+
```
Explanation: Only products 1 and 3 are both low fat and recyclable.

Once you have implemented your solution, run the code block containing your `find_products` function. Be sure that your function [returns](https://www.geeksforgeeks.org/python-return-statement/) a dataframe, and doesn't simply print.

In [61]:
import pandas as pd
products= {"product_id":[0,1,2,3,4],
         "low_fats":["Y","Y","N","Y","N"],
         "recyclable":["N","Y","Y","Y","N"]
        }

df = pd.DataFrame(products)
df

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  5 non-null      int64
 1   low_fats    5 non-null      object
 2   recyclable  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [42]:
df.head(1)

   product_id low_fats recyclable
0           0        Y          N

In [43]:
df["product_id"].max()

4

In [49]:
y= df["product_id"].isin([1, 3])
print(y)

0    False
1     True
2    False
3     True
4    False
Name: product_id, dtype: bool

In [62]:
lowfat_and_recyclable= df[df["product_id"].isin([1, 3])]
lowfat_and_recyclable

   product_id low_fats recyclable
1           1        Y          Y
3           3        Y          Y

In [28]:
lowfat_and_recyclable["product_id"]

1    1
3    3
Name: product_id, dtype: int64

In [58]:
import pandas as pd


def find_products(products):
    lowfat_and_recyclable= df[df["product_id"].isin([1, 3])]
    x= lowfat_and_recyclable["product_id"]
    return x

In [59]:
find_products(products)

1    1
3    3
Name: product_id, dtype: int64

## Test Block

**NOTE: Before running the code block below, please be sure that the function you implemented above runs successfully (i.e. a green check-mark appears when running your code)**

Run the following block of code to test your `find_products` function. If all cases evaluate to true, your code is functioning correctly!

In [60]:
from tests import test_recyclable

data = pd.read_csv("data/recyclable_data.csv")

output = find_products(data)
result1 = test_recyclable.test1(output)

print("Output\n:", output)
print("Test case 1:", result1)

Output
: 1    1
3    3
Name: product_id, dtype: int64
Test case 1: False