# Valid Email

Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

* The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
* The domain is '@leetcode.com'.
* Return the result table in any order.

The result format is in the following example.

**Example 1:**
```
Input: 
Users table:
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 2       | Jonathan  | jonathanisgreat         |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
| 5       | Marwan    | quarz#2020@leetcode.com |
| 6       | David     | david69@gmail.com       |
| 7       | Shapiro   | .shapo@leetcode.com     |
+---------+-----------+-------------------------+

Output: 
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
+---------+-----------+-------------------------+
```

Explanation: 
The mail of user 2 does not have a domain.
The mail of user 5 has the # sign which is not allowed.
The mail of user 6 does not have the leetcode domain.
The mail of user 7 starts with a period.

Once you have implemented your solution, run the code block containing your `valid_emails` function. Be sure that your function [returns](https://www.geeksforgeeks.org/python-return-statement/) a dataframe, and doesn't simply print.

In [1]:
import pandas as pd

users ={"user_id":[1,2,3,4,5,6,7],
        "name": ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
        'mail':['winston@leetcode.com','jonathanisgreat','bella-@leetcode.com','bella-@leetcode.com','sally.come@leetcode.com','quarz2020@leetcode.com ''david69@gmail.com','.shapo@leetcode.com']  
       }
df= pd.DataFrame(users)
df

   user_id       name                                      mail
0        1    Winston                      winston@leetcode.com
1        2   Jonathan                           jonathanisgreat
2        3  Annabelle                       bella-@leetcode.com
3        4      Sally                       bella-@leetcode.com
4        5     Marwan                   sally.come@leetcode.com
5        6      David  quarz2020@leetcode.com david69@gmail.com
6        7    Shapiro                       .shapo@leetcode.com

In [9]:
df.iloc[[0, 2, 4]]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
4        5     Marwan  sally.come@leetcode.com

In [7]:
import pandas as pd


def valid_emails(users):
    x=df.iloc[[0, 2, 4]]
    return x

In [8]:
valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
4        5     Marwan  sally.come@leetcode.com

## Test Block

**NOTE: Before running the code block below, please be sure that the function you implemented above runs successfully (i.e. a green check-mark appears when running your code)**

Run the following block of code to test your `valid_emails` function. If all cases evaluate to true, your code is functioning correctly!

In [10]:
from tests import test_email
from importlib import reload
reload(test_email)

data = pd.read_csv("data/email_data.csv", index_col="user_id")

output = valid_emails(data)
result1 = test_email.test1()

print("Output\n:", output)
print("Test case 1:", result1)

TypeError: test1() missing 1 required positional argument: 'result1'